<h1>Careers component loaded</h1>
<h1>Common section for both permanent and contract jobs</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
                <a class="nav-link " routerLink="permanent" >Permanent Jobs </a>
                <a class="nav-link" routerLink="contract" >Contract Jobs </a>
                <a class="nav-link"  >Work From Homme Jobs </a>

        </div>
        <div class="col-sm-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
