<p>directives works!!</p>


<input type="checkbox" [(ngModel)]="flag" (change)="toggleFlag()">{{flag}}
<table [hidden]="!flag" class="table table-bordered table-stripped">
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
    </tr>
</table>

<div *ngIf="n%2 == 0">{{n}} is Even number</div>
<div *ngIf="n%2 != 0">{{n}} is Odd number</div>

<div *ngIf="n%2 == 0; else oddblock">{{n}} is an Even number</div> <br>
<ng-template #oddblock>{{n}} is an odd number </ng-template> <br>

<div *ngIf="age>=18; else notvalid">{{age}} is valid for voting</div> <br>
<ng-template #notvalid>{{age}} is not valid for voting</ng-template> <br>

<h3 [ngSwitch]="n">
<p *ngSwitchCase="1">Monday</p>
<p *ngSwitchCase="2">Tuesday</p>
<p *ngSwitchCase="3">Wednesday</p>
<p *ngSwitchCase="4">Thursday</p>
<p *ngSwitchCase="5">Friday</p>
<p *ngSwitchCase="6">Saturday</p>
<p *ngSwitchCase="7">Sunday</p>
<p *ngSwitchDefault>Not a valid number </p>
</h3>

<div *ngFor="let car of cars let j = index">
    {{car}} - {{j}}
</div>

<table class="table table-bordered table-stripped">

        <tr>
            <th> SL.No</th>
            <th>eID</th>
            <th>  Name</th>
            <th> Salary</th>
            <th> Cars</th>



        </tr>

    <tr *ngFor="let emp of employees let i = index">
        <td>{{i + 1}}</td>
        <td>{{emp.eId}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.sal}}</td>
        <td>{{!emp.cars || emp.cars?.length ==0 ? 'Not available': emp.cars}}</td>
        


        
    </tr>
</table>